<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SgmApp2022.Properties.Settings.Student_App_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Student_App_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SgmApp2022.Properties.Settings.SgmApp2022_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SgmApp2022_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>